
<header><h1 class="display-4 add-park" align="center">Add a New Park</h1></header>

<div class='row'>
  <div class="add-park-container container">
  <div class ='col-xs-12'>
    <%= form_for(@park, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class='control-label col-sm-4'>
        </div>
        <div class='col-sm-4'>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name of the BallPark', autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class='control-label col-sm-4'>
        </div>
         <div class='col-sm-4'>
          <%= f.text_field :description, class: "form-control", placeholder: "Home Stadium of the ....." %>
         </div>
       </div>
      <div class="form-group">
        <div class='control-label col-sm-4'>
        </div>
         <div class='col-sm-4'>
          <%= f.text_field :address, class: "form-control", placeholder: "Add Stadium Address or...." %>
         </div>
       </div>
       <div class="form-group">
        <div class='control-label col-sm-4'>
        </div>
         <div class='col-sm-4'>
          <%= f.text_field :longitude, class: "form-control", placeholder: "...use latitude" %>
         </div>
       </div>
       <div class="form-group">
        <div class='control-label col-sm-4'>
        </div>
         <div class='col-sm-4'>
          <%= f.text_field :longitude, class: "form-control", placeholder: "and longitude" %>
         </div>
       </div>
       <div class="form-group add-photo">
        <div class='control-label col-sm-4 add-photo'>
        </div>
         <div class='col-sm-4'>
         <%= f.file_field :address%>
         </div>
        </div>
        <div class="form-group">
          <div class='control-label col-sm-4'>
        </div>
         <div class="control-label col-sm-4">
          <%= f.submit "Add Park", class: "btn btn-primary" %>
         </div>
        </div>
    <% end %>
  </div>
  </div>
</div>



